[submodule "openvino.genai.qwen"]
	path = openvino.genai.qwen
	url = https://github.com/sammysun0711/openvino.genai.git
[submodule "openvino.genai"]
	path = openvino.genai
	url = https://github.com/sungeunk/openvino.genai.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
