[submodule "openvino.genai"]
	path = openvino.genai
	url = https://github.com/sungeunk/openvino.genai.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "cpp_sample/openvino_tokenizers"]
	path = cpp_sample/openvino_tokenizers
	url = https://github.com/openvinotoolkit/openvino_tokenizers.git
