py-cpuinfo
psutil
pyopencl
tabulate
ninja
tqdm
python-dateutil
requests
pandas
scipy
pyarrow
matplotlib
netifaces
blobfile
python-ffmpeg<=1.0.16
openai-whisper==20231117 --extra-index-url https://download.pytorch.org/whl/cpu
git+https://github.com/garywu007/pytube.git
python-ffmpeg<=1.0.16
moviepy
transformers --extra-index-url https://download.pytorch.org/whl/cpu
ipywidgets
